.intro{
    background: linear-gradient( rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0.35)100%), url("../../src/assets/home2.jpg") center center no-repeat;
    background-size: cover;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
  
  
    &__text{
      max-width: 600px;
      margin-top: 30px;
      line-height: 1.4em;
      font-size: 18px;
      text-align: center;
    }
  
  
    &__title{
      font-size: 45px;
      font-family: "Oswald", Sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      text-align: center;
    }
    .subtitle{
      font-size: 35px;
      text-shadow: 1px 1px 3px #000000;
  
    }
  }
  
  @media screen and (min-width:425px){
    .intro{
      &__title{
        font-size: 40px;
      }
    }
  }
  
  @media screen and (min-width:768px){
    .intro{
      height: 650px;
      &__title{
        font-size: 70px;
        letter-spacing: 5px;
      }
      .subtitle{
        font-size: 40px;
        text-shadow: none;
        letter-spacing: 0px;
      }
    }
  }
  
  @media screen and (min-width:910px){
    .intro{
      height: 700px;
    }
  }
  @media (min-width:1200px) {
    .intro{
      height: 790px;
      margin-bottom: 180px;
    }
    
  }