$main-yellow: #FF9300;
$second-black: #3D3D3D;
$primary-black:#282623;
$black: #1B1B1B;

//#201E1C
//282828
//222222
//1B1B1B


$main-gray: #727170;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');


